.Welcome {
	text-align: center;
	margin: 2%;
	background: -webkit-linear-gradient(rgb(224, 0, 112), rgb(140, 0, 255));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 42px;
}
.main {
	display: flex;
	padding: 1%;
	margin: auto;
}
.UserInfo {
	background-color: transparent;
	border: 1px solid rgb(80, 80, 80);
	margin: auto;
	padding: 1% 1% 10% 1%;
	text-align: center;
}
.How_To_Use {
	background-color: transparent;
	border: 1px solid rgb(80, 80, 80);
	margin: auto;
	padding: 1% 1% 10% 1%;
	text-align: center;
}
