{% include "base.html" %}
{% load static %}

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static '/css/style.css' %}">
	<title>Login</title>
</head>

<img style="width: 100vw;" src="{% static 'images/bg1.png' %}">

<div class="carousel-caption">
	<h1 class="display-2">Multiple Choice Quiz</h1>
	<h3>\Beat Me If You Can/</h3>
</div>

<!--- Jumbotron -->


<!--- Welcome Section -->
<div class="container-fluid padding">
	<div calss="row welcome text-center">
		<div style='text-align: center' class="col-12">
			<h2 class="display-4">By Challenging Yourself In Here</h2>
		</div>
		<hr>
		<div style='text-align: center' class="col-12">
			<p class="display-3">You will...</p>
		</div>
	</div>
	<!--- Three Column Section -->
	<div class="container-fluid padding">
		<div class="row text-center padding">
			<div class="col-xs-col-sm-6 col-md-4">
				<i class="fas fa-code"></i>
				<h3>HAVE FUN</h3>
				<p>Learning without stress</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<i class="fas fa-bold"></i>
				<h3>BE ENGAGED</h3>
				<p>To challenge your mind</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<i class="fab fa-css3"></i>
				<h3>GAIN WISDOM</h3>
				<p>For infinite mentality</p>
			</div>
		</div>
		<hr>
	</div>
	<!--- Two Column Section -->


	<!--- Fixed background -->
	<figure>
		<div class="fixed-wrap">
			<div id="fixed">
			</div>
		</div>
	</figure>

	<!--- Emoji Section -->

	<!--<button class="fun" data-toggle="collapse" data-target="#emoji">click for fun</button>
<div id="emoji" class="collapse">-->
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-sm-6 col-md-3">
				<img class="gif" src="{% static 'images/gif/robot5.gif' %}">
			</div>
			<div class="col-sm-6 col-md-3">
				<img class="gif" src="{% static 'images/gif/robot2.gif' %}">
			</div>
			<div class="col-sm-6 col-md-3">
				<img class="gif" src="{% static 'images/gif/robot3.gif' %}">
			</div>
			<div class="col-sm-6 col-md-3">
				<img class="gif" src="{% static 'images/gif/robot.gif' %}">
			</div>
			<div class="col-sm-6 col-md-3">
				<img class="gif" src="{% static 'images/gif/robot1.gif' %}">
			</div>
			<div class="col-sm-6 col-md-3">
				<img class="gif" src="{% static 'images/gif/robot4.gif' %}">
			</div>
			<div class="col-sm-6 col-md-3">
				<img class="gif" src="{% static 'images/gif/robot6.gif' %}">
			</div>
			<div class="col-sm-6 col-md-3">
				<img class="gif" src="{% static 'images/gif/robot7.gif' %}">
			</div>
		</div>
	</div>
	<hr class="my-4">
</div>
<!--- Meet the team -->


<!--- Cards -->


<!--- Two Column Section -->


<!--- Connect -->
<div class="container-fluid padding">
	<div class="row text-center padding">
		<div class="col-12">
			<h2>Connect</h2>
		</div>
		<div class="col-12 social padding">
			<a href="#"><i class="fab fa-facebook"></i></a>
			<a href="#"><i class="fab fa-twitter"></i></a>
			<a href="#"><i class="fab fa-google-plus-g"></i></a>
			<a href="#"><i class="fab fa-instagram"></i></a>
			<a href="#"><i class="fab fa-youtube"></i></a>
		</div>
	</div>
</div>
<!--- Footer -->




</body>

</html>
