{% extends "base.html" %}

{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>

    <h1 class="Welcome">
        Welcome To QuizApp
    </h1>
    <div class="main">

        <div class="UserInfo">
            <aside>
                {% if user.is_authenticated %}

                <p><b> Username:</b> {{user.username}}</p>
                <p><b> Email:</b> {{user.email}}</p>
                {% endif %}
            </aside>
        </div>
        <div class="How_To_Use">
            <aside>
                <h2>How To Use</h2>
                <br>

                Go To Quizes For Test!
                <button class="btn btn-primary" onclick="location.href='/quizzes/' " type=" button">
                    Quizes
                </button>
                <br>
                <br>
                Go To Progress To Check You Results!
                <button class="btn btn-primary" onclick="location.href='/progress/' " type=" button">
                    Progress
                </button>

            </aside>
        </div>

    </div>
    {% endblock  %}

</body>
