{% include "base.html" %}

<head>
    <title>QuizApp| Register</title>
</head>
{% block content %}
<div style="width: 90%; margin: auto;">
    <!--head-->
    <div class="box-element">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="content-section">

                <fieldset class="form-group">

                    <legend class="border_bottom mb-4">
                        Join Today
                    </legend>
                    {{ form.as_p }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-success" type="submit">Join</button>
                </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account?
                <a class="ml-2" href="{% url 'login'%}">
                    Log In</a>
            </small>
        </div>
    </div>
</div>
</div>


{% endblock content %}
